@using WebApp1.Models;
@model List<Advertisement>
@{
    string userNameCookie = Context.Request.Cookies["UserName"];
    if (userNameCookie == "" || userNameCookie == null) userNameCookie = "Войти";
    string user_button;
    if (userNameCookie == "Войти")
    {
        user_button = Url.Action("RedirectToLogin", "Home");

    }
    else
    {
        user_button = Url.Action("RedirectToUser", "AuthorizationPage");
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>Ваш сайт</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    <div class="header">
        <div class="account-button">
            <div class="down-menu">
                <form method="get" action="@Url.Action("Index", "Home")">
                    <label for="Category">Фильтр по категории:</label>
                    <select id="Category" name="category">
                        <option value="transport">Транспорт</option>
                        <option value="real_estate">Недвижимость</option>
                        <option value="job">Работа</option>
                        <option value="services">Услуги</option>
                        <option value="stuff">Вещи</option>
                        <option value="electronics">Электроника</option>
                        <option value="hobbie">Хобби</option>
                        <option value="animals">Животные</option>
                    </select>
                    <button type="submit">Применить фильтр</button>
                </form>
            </div>
            <a href="@user_button" class="account-button-txt">@userNameCookie</a>
        </div>
        <form id="searchForm" method="get" action="@Url.Action("Index", "Home")">
            <input type="text" id="searchInput" name="searchQuery" placeholder="Введите запрос" value="@ViewBag.SearchQuery">
            <button type="submit">Искать</button>
        </form>
    </div>
    <div class="center">
        <div class="ad-container">
            @foreach (var ad in Model)
            {
                <div class="ad-card">
                    <img src="@ad.ImageUrl">
                    <p class="ad-title">@ad.Title</p>
                    <p class="ad-price">@ad.Price ₽</p>
                    <p class="ad-address">@ad.Address</p>
                    @*<p>Телефон: @ad.PhoneNumber</p>
                    <p>@ad.Description</p>*@
                    <a href="@Url.Action("Details", "EditPage", new { id = ad.Id })" class="styled-button">Подробнее</a>
                    @{
                        if (ad.UserName == Context.Request.Cookies["UserName"])
                        {
                            <a href="@Url.Action("Edit", "EditPage", new { id = ad.Id })" class="ad-btn">Редактировать</a>
                        }
                    }
                </div>
            }
        </div>
    </div>
</body>
</html>
